[submodule "rock"]
	path = rock
	url = git@github.com:pincom15/rock.git
[submodule "banana"]
	path = banana
	url = git@github.com/pincom15/blindside-work
[submodule "sdk/amazon-kinesis-video-streams-webrtc-sdk-c"]
	path = sdk/amazon-kinesis-video-streams-webrtc-sdk-c
	url = https://github.com/awslabs/amazon-kinesis-video-streams-webrtc-sdk-c.git
